# Configuración de claves de API de terceros para OSINT Utility
# Renombra este archivo a ".env" y coloca tus claves de API reales.

# VirusTotal API Key (para análisis de subdominios, reputación de archivos e IPs)
VIRUSTOTAL_API_KEY=tu_api_key_aqui

# NumVerify API Key (para escaneo/validación de números telefónicos en PhoneInfoga)
NUMVERIFY_API_KEY=tu_api_key_aqui

# Para ver Fugas de Datos
LEAKCHECK_API_KEY=tu_clave_api_real_aqui